{% extends "layout.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<div id="content">
    <img id="profile" src="images/profile.png" alt="Profile picture">
	<h1>Andreas Backström</h1>
	<p>Hobbyist programmer, I create things!</p>
	<a href="https://twitter.com/SimplyMozzo" target="_blank"><i class="social icon-twitter color-blue" title="Twitter | my thoughts"></i></a>
    <a href="https://github.com/Mozzo1000" target="_blank"><i class="social icon-github-circled color-purple" title="Github | open-source code"></i></a>
    <a href="https://www.linkedin.com/pub/andreas-backstr%C3%B6m/104/902/629" target="_blank"><i class="social icon-linkedin-squared color-darkblue" title="LinkedIn | Professional social"></i></a>
    <a href="mailto:andreas@simplymozzo.se" target="_blank"><i class="social icon-mail-alt color-red" title="Email me!"></i></a>
</div>
{% endblock %}