{% extends "layout.html" %}
{% block title %}Projects{% endblock %}
{% block description %}List of projects Andreas Backström is working on and have worked on in the past.{% endblock %}

{% block content %}
<div style="text-align: left;" id="content">
	<ul>
		<li>mango - a static site generator built specifically for this website <br /> Github link : <a
				href="https://github.com/Mozzo1000/mango" target="_blank">/github/mango</a></li>
		<br />
		<li>fluxstat - a system metric exporter <br />&ensp; Github link : <a
				href="https://github.com/Mozzo1000/fluxstat" target="_blank">/github/fluxstat</a></li>
		<br />
		<li>product-database - product content aggregator platform focused on electronic devices <br />&ensp; Github
			link : <a href="https://github.com/Mozzo1000/product-database" target="_blank">/github/product-database</a>
		</li>
		<br />
	</ul>
</div>
{% endblock %}