{% extends "layout.html" %}
{% block title %}Projects{% endblock %}
{% block description %}List of projects Andreas Backström is working on and have worked on in the past.{% endblock %}

{% block content %}
<div style="text-align: left;" class="content">
	<h2 style="text-decoration: underline;">BookLogr</h2>
	<p>Simple, self-hosted service to keep track of your personal library.</p>
	<span class="link-colorful">
		<a  href="https://github.com/Mozzo1000/booklogr" target="_blank">/github/booklogr</a>
		|
		<a href="https://status.booklogr.app/" target="_blank">status.booklogr.app</a>
	</span>

	<h2 style="text-decoration: underline;">brkn-lnk</h2>
	<p>No frills link checker.</p>
	<span class="link-colorful">
		<a href="https://github.com/Mozzo1000/brkn-lnk" target="_blank">/github/brkn-lnk</a>
	</span>

	<h2 style="text-decoration: underline;">fluxstat</h2>
	<p>A opinionated system metric exporter.</p>
	<span class="link-colorful">
		<a href="https://github.com/Mozzo1000/fluxstat" target="_blank">/github/fluxstat</a>
	</span>

	<h2 style="text-decoration: underline;">mango</h2>
	<p>Static site generator built specifically for this website.</p>
	<span class="link-colorful">
		<a href="https://github.com/Mozzo1000/mango" target="_blank">/github/mango</a>
	</span>
</div>
{% endblock %}